table {
    border: 0px solid white;
  }
  
  th {
    border: 0px solid white;
  }
  
  td {
    border: 0px solid white;
  }

  .archive__item-title a {
    text-decoration: none;
  }
  
  .a {
    text-decoration: none;
  }
  